name: Publish Docker image
on:
  push:
    branches: [main]

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker image
        uses: docker/build-push-action@v3
        with:
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/swiftwasm/swiftwasm-action:5.7
            ghcr.io/swiftwasm/swiftwasm-action:latest
